body{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
background: #ff4444;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.final{
text-align: center;
padding: 20px;
background: rgba(255, 255, 255, 0.8);
border-radius: 20px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
max-width: 90%;
width: 90%;
}
h1{
    font-size: 28px;
    color: #b71c1c;
}